{% extends 'base.html' %}

{% block content %}

          <!-- top tiles -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h2>样本预处理信息录入</h2>
              </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>样本信息<small>*号为必填项</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="/PretreatmentInfoToDataBases/">
                      {%  for data in data %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sam_code_num">*样本条码号</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="sam_code_num" name="sam_code_num" class="form-control col-md-7 col-xs-12" readonly value="{{ data.sam_code_num }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientName">*实验编号</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="ExperimentNumber" class="form-control col-md-7 col-xs-12" type="text" name="ExperimentNumber" readonly value="{{ data.ExperimentNumber }}">
                        </div>
                      </div>

                        <div class="ln_solid"></div>
                      
                      <h2>样本预处理信息<small>*号为必填项</small></h2>
                      
                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*采血管类型</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="Types_of_blood_vessel" class="btn btn-default" type="text" name="Types_of_blood_vessel" readonly value="{{ data.Types_of_blood_vessel }}">
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*分离后血浆管数</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="number_of_plasma" class="form-control col-md-7 col-xs-12" type="number" name="number_of_plasma" readonly value="{{ data.number_of_plasma }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*血浆体积(mL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Plasma_volume" class="form-control col-md-7 col-xs-12" type="number" name="Plasma_volume" readonly value="{{ data.Plasma_volume }}">
                        </div>
                        <h4>(mL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*白细胞管数</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="number_of_white_blood_cells" class="form-control col-md-7 col-xs-12" type="number" name="number_of_white_blood_cells"  readonly value="{{ data.number_of_white_blood_cells }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*白细胞体积(mL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Leukocyte_volume" class="form-control col-md-7 col-xs-12" type="number" name="Leukocyte_volume" readonly value="{{ data.Leukocyte_volume }}">
                        </div>
                        <h4>(mL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*操作人</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Operator" class="form-control col-md-7 col-xs-12" type="text" name="Operator" readonly value="{{ data.Operator }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="acquisition_time" class="control-label col-md-3 col-sm-3 col-xs-12">*操作时间</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Operating_time" class="form-control col-md-7 col-xs-12" type="text" name="Operating_time" readonly value="{{ data.Operating_time }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">其它（备注）</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea name="Pretreatment_remarks" id="Pretreatment_remarks" class="form-control col-md-7 col-xs-12" rows="5" readonly>{{ data.Pretreatment_remarks }}</textarea>
                        </div>
                      </div>

                       <div class="ln_solid"></div>
                      {% endfor %}
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button" onclick="window.history.back()">返回</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

 {% endblock %}