{% extends 'base.html' %}

{% block content %}

          <!-- top tiles -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h2>DNA提取信息</h2>
              </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>样本信息<small>*号为必填项</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="/RandDDNAExtractInfoToDataBases/">
                        {%  for data in data %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sam_code_num">*样本编号</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="sam_code_num" name="sam_code_num" class="form-control col-md-7 col-xs-12" readonly value="{{ data.sam_code_num }}">
                        </div>
                      </div>

                        <div class="ln_solid"></div>

                      <h2>DNA提取信息<small>*号为必填项</small></h2>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*DNA样品名称</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNASampleName" class="form-control col-md-7 col-xs-12" type="text" name="DNASampleName" readonly value="{{ data.DNASampleName }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*血浆体积(mL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="PlasmaVolume" class="form-control col-md-7 col-xs-12" type="number" name="PlasmaVolume" readonly value="{{ data.PlasmaVolume }}">
                        </div>
                        <h4>(mL)</h4>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*定量方式</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="QuantitativeMethod" class="btn btn-default" type="text" name="QuantitativeMethod" readonly value="{{ data.QuantitativeMethod }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*DNA浓度(ng/µL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_Concentration" class="form-control col-md-7 col-xs-12" type="number" name="DNA_Concentration" readonly value="{{ data.DNA_Concentration }}">
                        </div>
                        <h4>(ng/µL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA体积(µL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_volume" class="form-control col-md-7 col-xs-12" type="number" name="DNA_volume" readonly value="{{ data.DNA_volume }}">
                        </div>
                        <h4>(µL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA总量(ng)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_Total" class="form-control col-md-7 col-xs-12" type="number" name="DNA_Total" readonly value="{{ data.DNA_Total }}">
                        </div>
                        <h4>(ng)</h4>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*A260/A280</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="A260_A280" class="form-control col-md-7 col-xs-12" type="text" name="A260_A280" readonly value="{{ data.A260_A280 }}">
                        </div>
                      </div>

                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*A260/A230</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="A260_A230" class="form-control col-md-7 col-xs-12" type="text" name="A260_A230" readonly value="{{ data.A260_A230 }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*提取试剂盒类型</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                             <input id="Extraction_kit_type" class="form-control col-md-7 col-xs-12" type="text" name="Extraction_kit_type" readonly value="{{ data.Extraction_kit_type }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*提取时间</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_extraction_time" class="form-control col-md-7 col-xs-12" type="text" name="DNA_extraction_time" readonly value="{{ data.DNA_extraction_time }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*质检方式</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="Quality_inspection_method" class="btn btn-default" type="text" name="Quality_inspection_method" readonly value="{{ data.Quality_inspection_method }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*质检结果</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                             <input id="Quality_inspection_result" class="btn btn-default" type="text" name="Quality_inspection_result" readonly value="{{ data.Quality_inspection_result }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*胶图链接</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Glue_map_link" class="form-control col-md-7 col-xs-12" type="text" name="Glue_map_link" readonly value="{{ data.Glue_map_link }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">*DNA存储位置</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_storage_location" class="form-control col-md-7 col-xs-12" type="text" name="DNA_storage_location" readonly value="{{ data.DNA_storage_location }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA提取人</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_extraction_Operator" class="form-control col-md-7 col-xs-12" type="text" name="DNA_extraction_Operator" readonly value="{{ data.DNA_extraction_Operator }}">
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">其它（备注）</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea name="DNA_extraction_remarks" id="DNA_extraction_remarks" class="form-control col-md-7 col-xs-12" rows="5" readonly>{{ data.DNA_extraction_remarks }}</textarea>
                        </div>
                      </div>

                       <div class="ln_solid"></div>

                       <h2>其他信息信息</h2>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <label for="contract_name" class="control-label col-md-3 col-sm-3 col-xs-12">DNA提取次数</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_extraction_num" class="btn btn-default" type="number" name="DNA_extraction_num" readonly value="{{ data.ExperimentTimes }}">
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                    {% endfor %}
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button" onclick="window.history.back()">返回</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

 {% endblock %}