{% extends 'base.html' %}

{% block content %}

          <!-- top tiles -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>DNA提取信息</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>样本信息<small>*号为必填项</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" action="/DNAExtractInfoToDataBases/">
                      {%  for data in data %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sam_code_num">*样本条码号</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="sam_code_num" name="sam_code_num" class="form-control col-md-7 col-xs-12" readonly value="{{ data.sam_code_num }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientName">*实验编号</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="ExperimentNumber" class="form-control col-md-7 col-xs-12" type="text" name="ExperimentNumber" readonly value="{{ data.ExperimentNumber }}">
                        </div>
                      </div>

                        <div class="ln_solid"></div>

                      <h2>DNA提取信息<small>*号为必填项</small></h2>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <label for="contract_name" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA浓度(ng/µL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_Concentration" class="form-control col-md-7 col-xs-12" type="number" name="DNA_Concentration" readonly value="{{ data.DNA_Concentration }}">
                        </div>
                        <h4>(ng/µL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA体积(µL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_volume" class="form-control col-md-7 col-xs-12" type="number" name="DNA_volume" readonly value="{{ data.DNA_volume }}">
                        </div>
                        <h4>(µL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA总量(ng)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_Total" class="form-control col-md-7 col-xs-12" type="number" name="DNA_Total" readonly value="{{ data.DNA_Total }}">
                        </div>
                        <h4>(ng)</h4>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*质检方法</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="Quality_inspection_method" class="btn btn-default" type="text" name="Quality_inspection_method" readonly value="{{ data.Quality_inspection_method }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*质检结果</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="Quality_inspection_result" class="btn btn-default" type="text" name="Quality_inspection_result" readonly value="{{ data.Quality_inspection_result }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*质检使用体积(µL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Quality_inspection_volume" class="form-control col-md-7 col-xs-12" type="number" name="Quality_inspection_volume" readonly value="{{ data.Quality_inspection_volume }}">
                        </div>
                        <h4>(µL)</h4>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*剩余体积(µL)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="Residual_volume" class="form-control col-md-7 col-xs-12" type="number" name="Residual_volume" readonly value="{{ data.Residual_volume }}">
                        </div>
                        <h4>(µL)</h4>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientSex">*提取试剂盒类型</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="Extraction_kit_type" class="btn btn-default" type="text" name="Extraction_kit_type" readonly value="{{ data.Extraction_kit_type }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="contract_pay" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA提取人</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_extraction_people" class="form-control col-md-7 col-xs-12" type="text" name="DNA_extraction_people" readonly value="{{ data.DNA_extraction_people }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="acquisition_time" class="control-label col-md-3 col-sm-3 col-xs-12">*提取时间</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_extraction_time" class="form-control col-md-7 col-xs-12" type="text" name="DNA_extraction_time" readonly value="{{ data.DNA_extraction_time }}">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">其它（备注）</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea name="DNA_extraction_remarks" id="DNA_extraction_remarks" class="form-control col-md-7 col-xs-12" rows="5" readonly >{{ data.DNA_extraction_remarks }}</textarea>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="acquisition_time" class="control-label col-md-3 col-sm-3 col-xs-12">*DNA提取实验次数</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="DNA_extraction_num" class="form-control col-md-7 col-xs-12" type="text" name="DNA_extraction_num" readonly value="{{ data.DNA_extraction_num }}">
                        </div>
                      </div>

                       <div class="ln_solid"></div>


                       <h2>任务信息<small>*号为必填项</small></h2>

                      <div class="ln_solid"></div>

                       <div class="form-group">
                        <label for="TaskReceiver" class="control-label col-md-3 col-sm-3 col-xs-12">*任务接收人</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="TaskReceiver" name="TaskReceiver" class="form-control" required>
                                <option selected="selected" value="【请选择...】">【请选择...】</option>
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="无">无</option>
                            </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="TaskProgress" class="control-label col-md-3 col-sm-3 col-xs-12">*任务进度</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="TaskProgress" name="TaskProgress" class="btn btn-default" required>
                                <option id="option01" name="option01" value="DNA提取">DNA提取</option>
                                <option id="option02" name="option02" selected="selected" value="预文库构建">预文库构建</option>
                                <option id="option03" name="option03" value="终文库构建">终文库构建</option>
                                <option id="option05" name="option05" value="上机测序">上机测序</option>
                            </select>
                            <input id="TaskState" type="text" name="TaskState" readonly value="{{ data.TaskProgress }}" style="display:none;">
                        </div>
                      </div>

                        <script type="text/javascript">
                                $(document).ready(function display() {
                                   if ($("#TaskState").val() == 'DNA提取') {
                                        $('#option01').show()
                                        $('#option02').show()
                                        $('#option03').hide()
                                        $('#option04').hide()
                                        $('#option05').hide()
                                    } else if ($("#TaskState").val() == '预文库构建') {
                                        $('#option01').show()
                                        $('#option02').show()
                                        $('#option03').show()
                                        $('#option04').hide()
                                        $('#option05').hide()
                                    } else if ($("#TaskState").val() == '终文库构建') {
                                        $('#option01').show()
                                        $('#option02').show()
                                        $('#option03').show()
                                        $('#option04').show()
                                        $('#option05').hide()
                                    } else {
                                        $('#option01').show()
                                        $('#option02').hide()
                                        $('#option03').hide()
                                        $('#option04').hide()
                                        $('#option05').hide()
                                    }
                                });
                        </script>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">任务备注</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea name="taskRemarks" id="taskRemarks" class="form-control col-md-7 col-xs-12" rows="5"  placeholder="任务备注"}></textarea>
                        </div>
                      </div>

                      <div class="ln_solid"></div>

                      {% endfor %}

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                         <button class="btn btn-primary" type="button" onclick="window.history.back()">返回</button>
						  <button class="btn btn-primary" type="submit" name="Determine">确定分派</button>
                          <button type="submit" class="btn btn-success" name="Suspend">暂停任务</button>
                          <button type="submit" class="btn btn-success" name="Stop">终止任务</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

 {% endblock %}